[submodule "leetcode"]
	path = leetcode
	url = https://github.com/Razeen-Shaikh/leetcode.git
[submodule "project-euler"]
	path = project-euler
	url = https://github.com/Razeen-Shaikh/project-euler.git
[submodule "geeksforgeeks"]
	path = geeksforgeeks
	url = https://github.com/Razeen-Shaikh/geeksforgeeks.git
[submodule "hackerrank"]
	path = hackerrank
	url = https://github.com/Razeen-Shaikh/hackerrank.git
[submodule "hackerearth"]
	path = hackerearth
	url = https://github.com/Razeen-Shaikh/hackerearth.git
[submodule "techgig"]
	path = techgig
	url = https://github.com/Razeen-Shaikh/techgig.git
